extends ../layout/main
block title
	| books-item
block content
	.container
		.bread-crumps
			a(href="#") Home
				span &raquo;
			a(href="#") Discounts and Clearance
				span &raquo;
			a(href="#") Sonatini Hippeastrum Alaska
		main.page2-main
			.book-image
			.book-description
				h1.book-name Star Wars Episode I
				p.book-description The Star Wars Episode I: The Phantom Menace novelization was written by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition
				.book-purchase
					.book-purchase-top
						p.price Our Price:
							span  150$
							br
							span.offer Was $ 200 Save 20%
						button.add-to-card Add to cart
					.book-purchase-bottom
						.purchase-cards
							span.secure-shopping Safe, Secure Shopping
						.purchase-cards-links
							a(href="#").paypal
							a(href="#").master-card
							a(href="#").visa
							a(href="#").american-express
		.central-part
			.major-part
				.tabs-part
					.tabs1
						span.tab1 Product Information
						span.tab1 other details
					.tabs-content1
						.tab-item1
							p 1111The Star Wars Episode I: The Phantom Menace novelization was written by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition was 
						.tab-item1
							p The Star Wars Episode I: The Phantom Menace novelization was written by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition was
				.form-part
					h2.review-header Product review
					.review
						figure.review-client
							img(src = 'img/review.png' alt='review')
							figcaption.client-name Bill Horn
						p.review-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
					.review
						figure.review-client
							img(src = 'img/review.png' alt='review')
							figcaption.client-name Alex Green
						p.review-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
					p Write a comment
					form.main-form
						label your name
			sidebar.sidebar
				h3 You may also like
				.sidebar-item
					.item-img
					.item-info
						h4.book-name the hare with umber
						span.price 50$
						br
						button.read-more Read more
				.sidebar-item
					.item-img
					.item-info
						h4.book-name the hare with umber
						span.price 50$
						br
						button.read-more Read more
				.sidebar-item
					.item-img
					.item-info
						h4.book-name the hare with umber
						span.price 50$
						br
						button.read-more Read more
				.sidebar-item
					.item-img
					.item-info
						h4.book-name the hare with umber
						span.price 50$
						br
						button.read-more Read more
				.sidebar-item
					.item-img
					.item-info
						h4.book-name the hare with umber
						span.price 50$
						br
						button.read-more Read more
				.sidebar-item
					.item-img
					.item-info
						h4.book-name the hare with umber
						span.price 50$
						br
						button.read-more Read more