footer.footer
	.footer-top-bg
		.container.footer-wrap-top
			.footer-item
				h4 Biography &amp; True Stories
				ul
					li
						a(href="#") General
					li
						a(href="#") Diaries, Letters &amp; Journals
					li
						a(href="#") Memoirs
					li
						a(href="#") True Stories
					li
						a(href="#") Generic Exams
					li
						a(href="#") GK Titles
					li
						a(href="#") Medical Entrance
					li
						a(href="#") Other Entrance Exams
					li
						a(href="#") PG Entrance Examinations
					li
						a(href="#") Self-help Titles
					li
						a(href="#") Sociology
			.footer-item
				h4 Professional &amp; Reference 
				ul
					li
						a(href="#") Academic and Reference
					li
						a(href="#") Business Trade
					li
						a(href="#") Engineering and Computer Science
					li
						a(href="#") Humanities, Social Sciences and Languages
					li
						a(href="#") Introduction to Computers
					li
						a(href="#") Science and Maths
					li
						a(href="#") Trade Business
					li
						a(href="#") English Language &amp;Literature
					li
						a(href="#")  English Language Teaching
					li
						a(href="#") Environment Awareness
					li
						a(href="#") Environment Protection 
			.footer-item
				h4 Earth Sciences
				ul
					li
						a(href="#") Earth Sciences
					li
						a(href="#") Geography
					li
						a(href="#") The Environment
					li
						a(href="#") Regional &amp; Area Planning
					li
						a(href="#") Fantasy
					li
						a(href="#") Gay
					li
						a(href="#") Humorous
					li
						a(href="#") Interactive
					li
						a(href="#") Legal
					li
						a(href="#") Lesbian
					li
						a(href="#") Men'S Adventure
			.footer-item
				h4 Mathematics
				ul
					li
						a(href="#") Algebra
					li
						a(href="#") Differential Equations
					li
						a(href="#") Discrete Mathematics
					li
						a(href="#") Fourier Analysis
					li
						a(href="#") Numerical Analysis
					li
						a(href="#") Probability
					li
						a(href="#") Statistical Methods/data Analysis
					li
						a(href="#") Stochastic And Random Processes
					li
						a(href="#") Topology
					li
						a(href="#") Statistics
					li
						a(href="#") Mathematics
	.footer-bottom-bg
		.container.footer-wrap-bottom
			h4 We accept all major Credit Card/Debit Card/Internet Banking.
			a(href="#").master-card
			a(href="#").american-express
			a(href="#").visa
	.copyright
		.container
			p Conditions of Use Privacy Notice © 2012-2013, Booksonline, Inc. or its affiliates 
