.top-line
	nav.top-line-nav
		ul
			li
				a(href="#") Sign In
			li
				a(href="#") My Account
			li
				a(href="#") Order Status
			li
				a(href="#") Help
.header-wrapper
	.container
		header
			.header-top
				a.logo
					img(src="img/logo.png", alt="logo")
				.search
					input(type="text").search-input
					img(src="img/magnifier.png", alt="magnifier")
					span search
				.basket
					img(src="img/basket.png", alt="basket")
					span.cart Your cart
					span.items-count (2 items)
					br
					span.price $125.0
					input(type='text' value='checkout').checkout 
				.wish-list
					img(src="img/star.png", alt="star")
					span Wish list
.container
	nav
		a(href="#").toggle-mnu
			span
		ul.main-nav
			li
				a(href="#") computers
			li
				a(href="#") cooking
			li.active
				a(href="#") education
			li
				a(href="#") fiction
			li
				a(href="#") health
			li
				a(href="#") mathematics
			li
				a(href="#") medical
			li
				a(href="#") reference
			li
				a(href="#") science
